*{ margin:0;
    box-sizing:border-box;
    }
    body{   font-family: Arial, Helvetica, sans-serif;
        padding: 90px 20px 0;
    }
    .header{background-color: aquamarine;
        height: 80;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .nav{   display: flex;
        justify-content: space-between;
        max-width: 992px;
        margin: 0 auto;
    }
    .navml{color: white;
        text-decoration: none;
    }
    .logo{font-size: 30px;
        font-weight: bold;
        padding: 0 40px;
        line-height: 80px;
    }
    .nav-menu{display: flex;
        margin-right: 40px;
        list-style: none;
    }
    .nmi{font-size: 18px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }
    .nml{padding: 8px 12px;
        border-radius: 5px;
    }
    .nml:hover{background-color: bisque;
        transition: 1;
    }
    .toggle{
        color: white;
        background-color: blue;
        border: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60;
        cursor:progress;
        display: none;
    }
    .btn{background-color: dodgerblue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }
    @media(max-width: 768px){
        body{background-color: cyan; padding-top: 70px;}
    
      .header{height: 60px;} 
      .logo{font-size: 25px;
    padding: 0 20px;
line-height: 60px;}
.nav-menu{flex-direction: column;
margin-right: 20px;
background-color: cadetblue;
position:fixed;
left:0;
top: 60px; 
width: 100%;
padding: 20px 0;
height: calc(100%-60px);
overflow: auto;}
.nmi{line-height: 70px;}
.nml:hover{background: none;
color: deepskyblue;}
.toggle{color: white;
background-color: blue;
border: none;
font-size: 30px;
padding: 0 20px;
cursor: progress;
display: none;}
.btn{ background-color: dodgerblue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;}
    img.redimension {
        width:200px;
        height:40px;
      }}
      .avatar{
        border-radius : 50%;
        height:70 px;
        object-fit: cover;
        object-position: right;
        width: 70px;

      }
      

    

